In [48]:
import numpy as np
import pandas as pd

## Train data

In [49]:
train_df = pd.read_csv("../data/mnist_train.csv")

In [50]:
train_df

,5,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.608,0.609,0.610,0.611,0.612,0.613,0.614,0.615,0.616,0.617
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59994,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59995,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59996,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59997,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59998,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
train_df.columns

Index(['5', '0', '0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '0.7', '0.8',
       ...
       '0.608', '0.609', '0.610', '0.611', '0.612', '0.613', '0.614', '0.615',
       '0.616', '0.617'],
      dtype='object', length=785)

In [52]:
train_labels = (train_df["5"] != 0).astype("int")

In [53]:
train_labels = train_labels.apply(lambda x: 1 if x == 1 else -1)

In [54]:
train_labels = train_labels.to_numpy()

In [55]:
train_labels = train_labels[:, None]

In [56]:
train_labels.shape

(59999, 1)

In [57]:
np.save("../data/train_labels.npy", train_labels)

In [58]:
train_data = train_df.drop(["5"], axis=1).to_numpy() / 255.

In [59]:
train_data = np.hstack([np.ones((train_data.shape[0], 1)), train_data])

In [60]:
np.save("../data/train_data.npy", train_data)

## Test data

In [61]:
test_df = pd.read_csv("../data/mnist_test.csv")

In [62]:
test_df

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9995,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [63]:
test_df.columns

Index(['7', '0', '0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '0.7', '0.8',
       ...
       '0.658', '0.659', '0.660', '0.661', '0.662', '0.663', '0.664', '0.665',
       '0.666', '0.667'],
      dtype='object', length=785)

In [64]:
test_labels = (test_df["7"] != 0).astype("int")

In [65]:
test_labels = test_labels.apply(lambda x: 1 if x == 1 else -1)

In [66]:
test_labels = test_labels.to_numpy()

In [67]:
test_labels = test_labels[:, None]

In [68]:
test_labels.shape

(9999, 1)

In [69]:
np.save("../data/test_labels.npy", test_labels)

In [70]:
test_data = test_df.drop(["7"], axis=1).to_numpy() / 255.

In [71]:
test_data = np.hstack([np.ones((test_data.shape[0], 1)), test_data])

In [72]:
np.save("../data/test_data.npy", test_data)

## Test

In [73]:
x = np.full(shape=(5, 1), fill_value=2)
y = np.ones(shape=(5, 5))
z = x * y

In [74]:
z

array([[2., 2., 2., 2., 2.],
       [2., 2., 2., 2., 2.],
       [2., 2., 2., 2., 2.],
       [2., 2., 2., 2., 2.],
       [2., 2., 2., 2., 2.]])